<div *ngIf="_selectedIssue">
  <p>{{_selectedIssue.Code}}</p>
  <p>{{_selectedIssue.Text}}</p>
    <div *ngIf="_comments">
      <mat-card *ngFor="let comment of _comments">
            <mat-card-title>{{comment.username}}</mat-card-title>
            <mat-card-subtitle>{{comment.createdAt.getDate()}}-{{comment.createdAt.getMonth() + 1}}-{{comment.createdAt.getFullYear()}}</mat-card-subtitle>
            <mat-card-content>
              {{comment.TextComment}}
            </mat-card-content>
          </mat-card>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </div>
</div>
